<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Insert Item</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>
<body>
<style>
    html {
        padding: 0px;
        margin: 0px;
    }
    body {
        padding: 0px;
        margin: 0px;
    }
    #SearchItems {
        width:50%;
        overflow:scroll;
        margin-left:50%;
        padding:10px;
        position:fixed;
        height:100%;
        border: 1px solid black;
        background-color:white;
        z-index:2000;
    }
    #NewItem{
        width:50%;
        overflow:scroll;
        position:fixed;
        padding:10px;
        height:100%;
        background-color:white;
        border: 1px solid black;
    }
    td {
        border: 1px solid black;
    }
    td td {
        border: 0px solid white;
    }
    .new td {
        border: 0px solid white;
    }
    #ViewItem {
        z-index:3000;
        position:fixed;
        width:400px;
        height:400px;
        overflow:scroll;
        background-color:white;
        border: 1px solid black;
        margin-left:60%;
        margin-top:5%;
    }
    .background {
        width:50%;
        overflow:scroll;
        margin-left:50%;
        position:fixed;
        height:100%;
        background-color:gray;
        z-index:2001;
        opacity:0.4;
    }
    .window {
        padding:5px;
    }
</style>
<script type="text/javascript">
    angular.module('sp', []).controller('spController', function($scope, $http) {
        $scope.itemOptions = ["TV", "Movie", "Book", "Game", "Music"];
        $scope.movieGenres = ["Horror", "Thriller","Suspense","Action","Adventure","Scifi","Fantasy","Comedy","Animation","Documentary","Family","War","Sport","Romance","Drama","Crime","Western","Mystery"];
        $scope.bookGenres = ["Drama","Short Story","Novel","Poem","Comedy","Non Fiction", "Fiction","Romance","Satire", "Tragedy","Fantasy","Horror","Mystery","Crime","Biography","Textbook","Scifi"];
        $scope.gameGenres = ["MOBA", "Racing","Action","Adventure","MMO","FPS","RPG","RTS","TPS","Horror","JRPG","Interactive", "3D Platformer", "2D Platformer"];
        $scope.musicGenres = ["Rock","Metal","Classical","Punk","Alternative","Hip-Hop","Trip-Hop","Techno","Electric","Grunge","Christian","Blues","Sing-Along","Holiday","Folk","Industrial","Jazz","Instrumental","Latin","Opera","Pop","Reggae","Soundtrack"];
        $scope.display = null;

        $scope.response = ""
        $scope.searchResponse = ""
        $scope.viewedObject = false;

        $scope.searchItems = function(criteria) {
            $http.get("/cgi-bin/SearchItems.py?title="+criteria).
            success(function(data, status, headers, config) {
                if (data.success == false) {
                    $scope.searchResponse = data.response;
                    $scope.items = [];
                }
                else {
                    $scope.searchResponse = data.success;
                    $scope.items = data.response;
                }

            })
            .error(function(data, status, headers, config) {
                $scope.searchResponse = data.response;
                $scope.items = [];
            });
        };

        $scope.addItem = function(newItem){
            $http.post("/cgi-bin/AddItem.py", newItem).
            success(function(data, status, headers, config) {
                $scope.response = data.response;
            });
        };

        $scope.viewItem = function(id){
            $http.get("/cgi-bin/GetItemInfo.py?session=None&id="+id).
            success(function(data, status, headers, config) {
                if (data.success == false) {
                    $scope.searchResponse = data.response;
                    $scope.viewedObject = false;
                }
                else {
                    $scope.searchResponse = data.success;
                    $scope.viewedObject = data.response;
                }
            });
        }

        $scope.closeView = function() {
            $scope.viewedObject = false;
        }
    });
</script>
<div ng-app="sp">
    <div ng-controller="spController">
        <div ng-show="viewedObject" class="background"></div>
        <div id="ViewItem" ng-show="viewedObject">
            <div class="window">
                <div><a ng-click="closeView()" style="margin-left:370px;position:fixed;cursor:pointer;color:#ff0000;">X</a></div>
                <div ng-repeat="(key,value) in viewedObject" ng-hide="key == 'comments'">{{key}}: {{value}}</div>
                comments: <div ng-repeat="comment in viewedObject.comments">{{comment}}</div>
            </div>
        </div>

        <div id="SearchItems">
            <h4>Search Items</h4>
            <h5>Response: {{searchResponse}}</h5>
            <div>
                <form ng-submit="searchItems(searchCriteria)">
                    <input type="textbox" ng-model="searchCriteria"/>
                    <input type="submit"/>
                </form>
            </div>

            <div ng-repeat="item in items">
                <div>
                    <table>
                        <tr>
                            <td><table>
                                <tr><td>ID: {{item.id}}</td></tr>
                                <tr><td>Title: "{{item.title}}"</td></tr>
                                <tr><td>Type: "{{item.type}}"</td></tr>
                            </table></td>
                            <td><img src="{{item.image}}" height="80" width="70"/></td>
                            <td><button ng-click="viewItem(item.id)">View Item</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div id="NewItem">
            <h4>New Item</h4>
            <h5>Response: {{response}}</h5>
            <select ng-model="display">
                <option ng-repeat="item in itemOptions">{{item}}</option>
            </select>

            <div ng-model="newMovieItem" ng-show="display === 'Movie'">
                <form ng-submit="addItem(newMovieItem)">
                    <table class="new">
                    <tr><td>New Movie:</td><td></td></tr>
                        <input type="hidden" ng-init="newMovieItem.type = 'Movie'"/>
                    <tr><td>Title:</td><td><input type="textbox" value="" ng-model="newMovieItem.title"/></td></tr>
                    <tr><td>Description:</td><td><input type="textbox" value="" ng-model="newMovieItem.description"/></td></tr>
                    <tr><td>Rating:</td><td><input type="textbox" value="" ng-model="newMovieItem.rating"/>(R, PG-13, PG, G, etc.)</td></tr>
                    <tr><td>Release Date:</td><td><input type="textbox" value="" ng-model="newMovieItem.releaseDate"/>(ex. 13 September 2002)</td></tr>
                    <tr><td>Runtime:</td><td><input type="number" value="" ng-model="newMovieItem.runTime"/>(in minutes, e.g. 212)</td></tr>
                    <tr><td>Director:</td><td><input type="textbox" value="" ng-model="newMovieItem.director"/>(ex. Pete Jackson)</td></tr>
                    <tr><td>Writer:</td><td><input type="textbox" value="" ng-model="newMovieItem.writer"/>(ex. Guillermo Del Toro)</td></tr>
                    <tr><td>Studio:</td><td><input type="textbox" value="" ng-model="newMovieItem.studio"/>(ex. Legendary Pictures)</td></tr>
                    <tr><td>Main Actors:</td><td><input type="textbox" value="" ng-model="newMovieItem.actors"/>(ex. "Elijah Wood, Viggo Mortensen, Orlando Bloom, Andy Serkis, Ian McKellen")</td></tr>
                    <tr><td>Genres:</td><td><select ng-model="newMovieItem.genres" multiple><option ng-repeat="movieGenre in movieGenres">{{movieGenre}}</option></select>(Select multiple fields if possible)</td></tr>
                    <tr><td>Image URL:</td><td><input type="textbox" ng-init="newMovieItem.url = 'notfound.png'" ng-model="newMovieItem.url"/></td></tr>
                        <tr><td>Parent ID:</td><td><input type="textbox" ng-init="newMovieItem.parentId = 'None'" ng-model="newMovieItem.parentId"/>(default is None)</td></tr>
                        <tr><td><input type="submit" value="Submit"/></td></tr>
                    </table>
                </form>
            </div>

            <div ng-model="newBookItem" ng-show="display === 'Book'">
                <form ng-submit="addItem(newBookItem)">
                    <table class="new">
                    <tr><td>New Book:</td><td></td></tr>
                        <input type="hidden" ng-init="newBookItem.type = 'Book'"/>
                    <tr><td>Title:</td><td><input type="textbox" value="" ng-model="newBookItem.title"/></td></tr>
                    <tr><td>Description:</td><td><input type="textbox" value="" ng-model="newBookItem.description"/></td></tr>
                    <tr><td>Publish Date:</td><td><input type="textbox" value="" ng-model="newBookItem.publishDate"/>(ex. 13 September 2002)</td></tr>
                    <tr><td>Number Of Pages:</td><td><input type="number" value="" ng-model="newBookItem.numberOfPages"/>(integer, e.g. 212)</td></tr>
                    <tr><td>Authors:</td><td><input type="textbox" value="" ng-model="newBookItem.authors"/>(ex. "George R. Martin, J.R.R Tolkien, Another A. Author")</td></tr>
                    <tr><td>Publisher:</td><td><input type="textbox" value="" ng-model="newBookItem.publisher"/>(ex. Wiley)</td></tr>
                    <tr><td>Edition:</td><td><input type="textbox" value="" ng-model="newBookItem.edition"/>(ex. 1st Edition)</td></tr>
                    <tr><td>Genres:</td><td><select ng-model="newBookItem.genres" multiple><option ng-repeat="bookGenre in bookGenres">{{bookGenre}}</option></select>(Select multiple fields if possible)</td></tr>
                    <tr><td>Image URL:</td><td><input type="textbox" ng-init="newBookItem.url = 'notfound.png'" ng-model="newBookItem.url"/></td></tr>
                        <tr><td>Parent ID:</td><td><input type="textbox" ng-init="newBookItem.parentId = 'None'" ng-model="newMovieItem.parentId"/>(default is None)</td></tr>
                    <tr><td><input type="submit" value="Submit"/></td></tr>
                    </table>
                </form>
            </div>

            <div ng-model="newGameItem" ng-show="display === 'Game'">
                <form ng-submit="addItem(newGameItem)">
                    <table class="new">
                    <tr><td>New Game:</td><td></td></tr>
                        <input type="hidden" ng-init="newGameItem.type = 'Game'"/>
                    <tr><td>Title:</td><td><input type="textbox" value="" ng-model="newGameItem.title"/></td></tr>
                    <tr><td>Description:</td><td><input type="textbox" value="" ng-model="newGameItem.description"/></td></tr>
                    <tr><td>Publisher:</td><td><input type="textbox" value="" ng-model="newGameItem.publisher"/>(ex. Electronic Arts)</td></tr>
                    <tr><td>Studio:</td><td><input type="textbox" value="" ng-model="newGameItem.studio"/>(ex. Dice)</td></tr>
                    <tr><td>Release Date:</td><td><input type="textbox" value="" ng-model="newGameItem.releaseDate"/>(ex. 9 September 2010)</td></tr>
                    <tr><td>Rating:</td><td><input type="textbox" value="" ng-model="newGameItem.rating"/>(ex. ESRB M, PEGI 18, etc.)</td></tr>
                    <tr><td>Length of Play:</td><td><input type="number" value="" ng-model="newGameItem.length"/>(ex. 8 hours)</td></tr>
                    <tr><td>Multiplayer:</td><td><input type="checkbox" ng-init="newGameItem.multiplayer = false" value="" ng-model="newGameItem.multiplayer"/>(checked/unchecked)</td></tr>
                    <tr><td>Singleplayer:</td><td><input type="checkbox" ng-init="newGameItem.singleplayer = false" value="" ng-model="newGameItem.singleplayer"/>(checked/unchecked)</td></tr>
                    <tr><td>Genres:</td><td><select ng-model="newGameItem.genres" multiple><option ng-repeat="gameGenre in gameGenres">{{gameGenre}}</option></select>(Select multiple fields if possible)</td></tr>
                    <tr><td>Image URL:</td><td><input type="textbox" ng-init="newGameItem.url = 'notfound.png'" ng-model="newGameItem.url"/></td></tr>
                        <tr><td>Parent ID:</td><td><input type="textbox" ng-init="newGameItem.parentId = 'None'" ng-model="newGameItem.parentId"/>(default is None)</td></tr>
                        <tr><td><input type="submit" value="Submit"/></td></tr>
                    </table>
                </form>
            </div>

            <div ng-model="newMusicItem" ng-show="display === 'Music'">
                <form ng-submit="addItem(newMusicItem)">
                    <table class="new">
                    <tr><td>New Music:</td><td></td></tr>
                        <input type="hidden" ng-init="newMusicItem.type = 'Music'"/>
                    <tr><td>Title:</td><td><input type="textbox" value="" ng-model="newMusicItem.title"/></td></tr>
                    <tr><td>Description:</td><td><input type="textbox" value="" ng-model="newMusicItem.description"/></td></tr>
                    <tr><td>Release Date:</td><td><input type="textbox" value="" ng-model="newMusicItem.releaseDate"/>(ex. 9 September 1994)</td></tr>
                    <tr><td>Recording Company:</td><td><input type="textbox" value="" ng-model="newMusicItem.recordingCo"/>(ex. Virgin Records)</td></tr>
                    <tr><td>Artist:</td><td><input type="textbox" value="" ng-model="newMusicItem.artist"/>(ex. The Beatles)</td></tr>
                    <tr><td>Genres:</td><td><select ng-model="newMusicItem.genres" multiple><option ng-repeat="musicGenre in musicGenres">{{musicGenre}}</option></select>(Select multiple fields if possible)</td></tr>
                    <tr><td>Song Length/Album Length:</td><td><input type="textbox" value="" ng-model="newMusicItem.length"/>(song ex. 4:30, album ex. 62:39)</td></tr>
                    <tr><td>Image URL:</td><td><input type="textbox" ng-init="newMusicItem.url = 'notfound.png'" ng-model="newMusicItem.url"/></td></tr>
                        <tr><td>Parent ID:</td><td><input type="textbox" ng-init="newMusicItem.parentId = 'None'" ng-model="newMusicItem.parentId"/>(default is None)</td></tr>
                        <tr><td><input type="submit" value="Submit"/></td></tr>
                    </table>
                </form>
            </div>

            <div ng-model="newTVItem" ng-show="display === 'TV'">
                <form ng-submit="addItem(newTVItem)">
                    <table class="new">
                    <tr><td>New TV:</td><td></td></tr>
                        <input type="hidden" ng-init="newTVItem.type = 'TV'"/>
                    <tr><td>Title:</td><td><input type="textbox" value="" ng-model="newTVItem.title"/></td></tr>
                    <tr><td>Description:</td><td><input type="textbox" value="" ng-model="newTVItem.description"/></td></tr>
                    <tr><td>Length of Episodes/Season:</td><td><input type="textbox" value="" ng-model="newTVItem.length"/>(ex. "45:23" for episode, "10 episodes" for season)</td></tr>
                    <tr><td>Original Air Date:</td><td><input type="textbox" value="" ng-model="newTVItem.airDate"/>(ex. 12 September 2003)</td></tr>
                    <tr><td>Channel:</td><td><input type="textbox" value="" ng-model="newTVItem.channel"/>(ex. TV Land)</td></tr>
                    <tr><td>Genres:</td><td><select ng-model="newTVItem.genres" multiple><option ng-repeat="tvGenre in movieGenres">{{tvGenre}}</option></select>(Select multiple fields if possible)</td></tr>
                    <tr><td>Actors:</td><td><input type="textbox" value="" ng-model="newTVItem.actors"/>(ex. "Jason Bateman, Jeffrey Tambor, Will Arnett, Cavid Cross")</td></tr>
                    <tr><td>Director:</td><td><input type="textbox" value="" ng-model="newTVItem.director"/>(ex. Christopher Nolan)</td></tr>
                    <tr><td>Writer:</td><td><input type="textbox" value="" ng-model="newTVItem.writer"/>(ex. Mitchell Hurwitz)</td></tr>
                    <tr><td>Rating:</td><td><input type="textbox" value="" ng-model="newTVItem.rating"/>(ex. TV14, TVMA, etc.)</td></tr>
                    <tr><td>Image URL:</td><td><input type="textbox" ng-init="newTVItem.url = 'notfound.png'" ng-model="newTVItem.url"/></td></tr>
                        <tr><td>Parent ID:</td><td><input type="textbox" ng-init="newTVItem.parentId = 'None'" ng-model="newTVItem.parentId"/>(default is None)</td></tr>
                        <tr><td><input type="submit" value="Submit"/></td></tr>
                    </table>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>